.body-wrap{
	font-size: 0.85333333vw;
	background-color: #1A1A1A;
}
.bold{
	font-weight: 900;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Адаптивы
//  @media all(по умолчанию для всех устройств) (orientation:portrait/landscape) - положение экрана 
// @media (resolution:300px) - разрешение (плотность пикселей)
// @media (monochrome) - для черно белых мониторов
// @media (max-width: 500px){
// 		classA{
//			......}
// }
// Можно записывать условия через and:
// @media screen and (max-width:300px){
// 		.......
//	}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////